@mixin flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin primary-btn {
  background-color: var(--primary-color);
  padding: 0.85rem 1.5rem;
  color: var(--white-color);
}

@mixin bold-grey-font {
  font-weight: var(--bold);
  color: var(--grey-color);
}
@mixin centerIt {
  display: flex;
  justify-content: center;
  align-items: center;
}
