@font-face {
  font-family: 'Gemunu-Libre-light';
  src: url('../fonts/GemunuLibre-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Gemunu-Libre-bold';
  src: url('../fonts/GemunuLibre-ExtraBold.ttf') format('truetype');
}
