section.about {
  padding: var(--padding-mob);
  padding-bottom: 3rem;
  padding-top: 4.5rem;
  background-color: var(--light-color);
  .row {
    h3 {
      margin-bottom: 1rem;
      span {
        font-family: serif;
        font-weight: 500;
        &:last-child {
          font-family: var(--light-font);
          background-color: var(--primary-color);
          color: var(--light-color);
          padding: 0 0.5rem;
          font-weight: var(--bold);
        }
      }
    }
    h2 {
      margin-bottom: 1rem;
      font-weight: normal;
      span {
        color: var(--primary-color);
        font-family: var(--light-font);
        font-weight: var(--bold);
      }
    }
    p {
      font-weight: var(--bold);
      margin-top: 1.5rem;
      color: var(--grey-color);
      &:first-of-type {
        color: var(--dark-color);
        font-style: italic;
      }
    }
    figure {
      margin: 2rem 0.8rem;
      height: 7rem;
      width: 8rem;
      background-color: var(--white-color);
    }
    .about-image {
      margin-top: 2rem;
      position: relative;
      figure {
        margin: 0;
        height: 100%;
        width: 60%;
        max-width: 18rem;
        margin-bottom: 15%;
        background-color: var(--light-color);
        &:last-child {
          position: absolute;
          top: 15%;
          right: 3%;
          img {
            margin: 0.3rem 0 0 0.3rem;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  section.about {
    padding: 6rem 2.5rem 5rem;
    .row1 {
      p {
        margin-top: 1.2rem;
      }
      figure {
        margin: 2rem 0.8rem;
        height: 8rem;
        width: 8rem;
      }
    }
  }
}
@media only screen and (min-width: 1024px) {
  section.about {
    padding: 1rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .row {
      flex: 0 0 50%;
    }
    .row1 {
      order: 2;
      margin-left: 2rem;
    }
    .row2 {
      order: 1;
    }
  }
}

@media screen and (min-width: 1440px) {
  section.about {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
