footer {
  background-color: var(--extra-black-color);
  @include bold-grey-font;
  padding-top: 2rem;
  .container {
    .row {
      padding: 1.5rem 0;
      .col {
        padding: 1rem 1rem 0;
        .social-links {
          @include flex-center;
          justify-content: flex-start;
          li {
            margin-right: 0.7rem;
            height: 2.5rem;
            width: 2.5rem;
            background-color: var(--bg-2-color);
            border-radius: 50%;
            @include flex-center;
            justify-content: center;
            transition: background-color 0.3s ease;
            cursor: pointer;
            i {
              color: var(--white-color);
              margin-right: 0;
            }
            &:hover {
              background-color: var(--primary-color);
            }
          }
        }
        h4 {
          color: var(--white-color);
        }
        ul {
          li {
            margin: 0.4rem 0;
            i {
              margin-right: 1rem;
            }
            span {
              a {
                color: var(--grey-color);
              }
            }
          }
        }
        form {
          margin: 1rem 0;
          display: flex;
          flex-direction: row;
          justify-content: start;
          input {
            padding-top: 0.8rem;
            padding-bottom: 0.8rem;
          }
          button {
            background-color: var(--primary-color);
            margin-left: 0;
            padding: 0.8rem 1.5rem;
            i {
              color: var(--white-color);
            }
          }
        }
      }
    }
    .row1 {
      border-bottom: 1px solid var(--bg-2-color);
    }
    .row2 {
      .col2,
      .col3 {
        ul {
          li {
            padding-left: 1rem;
            position: relative;
            &::before {
              content: '>';
              position: absolute;
              left: 0;
              top: 0;
            }
          }
        }
      }
    }
  }
  .container2 {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  footer {
    padding: 3rem 0rem 1rem 0;
    .container {
      margin: 0 2.5rem;
      .row {
        display: grid;
        grid-template-columns: 33% auto;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 0;
        .col {
          padding: 0;
          h4 {
            margin-bottom: 1rem;
          }
        }
      }
      .row2 {
        grid-template-columns: 41% 25% 25%;
        border-bottom: none;
        .col {
          ul {
            li {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              span {
                word-break: break-all;
              }
            }
          }
        }
        .col2,
        .col3 {
          ul {
            li {
              padding-left: 1rem;
              position: relative;
              &::before {
                content: '>';
                position: absolute;
                left: 0;
                top: 0;
              }
            }
          }
        }
        .col4 {
          min-width: 25rem;
        }
      }
    }
    .container2 {
      .row {
        display: block;
        border-bottom: none;
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  footer {
    .container {
      .row {
        display: grid;
        grid-template-columns: 23% auto 20%;
        padding: 2rem 0;
        .col {
          padding: 0;
        }
      }
      .row2 {
        grid-template-columns: auto auto auto 30%;
        border-bottom: none;
        .col2,
        .col3 {
          ul {
            li {
              padding-left: 1rem;
              position: relative;
              &::before {
                content: '>';
                position: absolute;
                left: 0;
                top: 0;
              }
            }
          }
        }
        .col4 {
          min-width: unset;
        }
      }
    }
    .container2 {
      .row {
        display: block;
        border-bottom: none;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  footer {
    .container {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
}
